body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color:#144d53;

}

h2 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  color:#144d53;
}

h3 {
  font-family: 'Lora', serif;
  color: #518C85;
}
a {
  color: #518C85;
}
.subtitle {
  font-weight: normal;
}
.skill-img {
  width:10%;
}
.profile-img {
  border-radius: 50%;
}

.top-container {
  position: relative;
  background-color: #e4eddb;
  padding-top: 100px;
}
.middle-container {
}
.bottom-container{
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  right: 300px;
}
