html {
  background: "images/ocean.jpg"no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Lora', sans-serif;
  background-color: #e3e7f1;
  color: #494ca2;
}

h1 {
  margin: 3% auto;
  font-family: 'Lora', serif;
  font-size: 5.625rem;
  color: #494ca2;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  color: #494ca2;
}

h3 {
  font-family: 'Lora', serif;
  color: #494ca2;
}

a {
  color: #494ca2;
}

hr {
  margin: 7% auto;
  height: 0px;
  width: 5%;
  border-style: dotted none none none;
  border-top-color: #10316b;
  border-top: 6px dotted black;
  border-color: #c6cbef;
}
.invisible {
  visibility: hidden;
}
.navbar-light .navbar-brand {
    color:#494ca2!important;
}

.bg-light {
  background-color: #abecfe!important;

}

.navbar-brand:hover {
    color:#fff;
}
#welcome-section {
  padding: 5% 10%;
}

.subtitle {
  color: #494ca2;
}

.under-water {
  background-color: #44bdda;
  z-index: -2;
}

#blackOverlay {
  margin-top: 50%;
  background-color: #000;
  opacity: 0.0;
  top: 0;
  width: 100%;
  height: 100%;
}

.what-i-can-do {
  color: #494ca2;
}

.subtitle {
  font-weight: normal;
}

.skill-img {
  width: 10%;
}

.profile-img {
  border-radius: 50%;
  max-width: 30%;
}

/* .ocean {
  position: absolute;
  z-index: -1; */
/* } */
.ocean {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  background: #e3e7f1;
  background-image: -webkit-linear-gradient(top, #e3e7f1, #c6cbef);
  background-image: -moz-linear-gradient(top, #e3e7f1, #c6cbef);
  background-image: -ms-linear-gradient(top, #e3e7f1, #c6cbef);
  background-image: -o-linear-gradient(top, #e3e7f1, #c6cbef);
  background-image: linear-gradient(to bottom, #e3e7f1, #c6cbef);
  border: solid #e4eddb 2px;
  color: #494ca2;
  border-radius: 28px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin: 40px auto;
  padding: 5px 20px 10px 20px;
  text-decoration: none;
  width: fit-content;
}

.butn:hover {
  background: #2882A5;
  background-image: -webkit-linear-gradient(top, #8186d5, #1a3c40);
  background-image: -moz-linear-gradient(top, #8186d5, #1a3c40);
  background-image: -ms-linear-gradient(top, #8186d5, #1a3c40);
  background-image: -o-linear-gradient(top, #8186d5, #1a3c40);
  background-image: linear-gradient(to bottom, #8186d5, #1a3c40);
  text-decoration: none;
  color: #fff;
}

.skills {
  margin: 10% auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.subtitle {
  font-weight: normal;
}

.idea-img {
  float: left;
  width: 15%;
  margin-right: 30px;
}

.blockchain-img {
  width: 15%;
  float: right;
  margin-left: 0;
}

.alexa-img {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.profile-img {
  border-radius: 50%;
}

.intro {
  width: 18%;
  margin: auto;
}

.top-container {
  position: relative;
  background-color: #8186d5;
  padding-top: 100px;
  margin-bottom: 10px;
}

.middle-container {}

.bottom-container {
  position: relative;
  padding-top: 50px;
  text-align: center;
  height: 150px;
  background-color: #494ca2;
}

.contact-me {
  margin: 100px auto;
  line-height: 2;
}

.contact-message {
  margin: auto auto 60px
}

.footer-link {
  color: #44bdda;
  font-size: 1.3rem;
  margin: auto 20px 10%;
  text-decoration-line: none;
}

.footer-link:hover {
  color: #e3e7f1;
}

.copyright {
  color: #44bdda;
  font-size: .75rem;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.right-cloud {
  position: absolute;
  right: 300px;
  top: 500px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  right: 300px;
}
